*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: wheat;
}
.navbar img {
  width: 40px;
  height: 40px;
}

.navbar-collapse {
  background-color: black;
}

.nav-link {
  color: white;
}

#section01 {
  width: 100%;
  height: 100vh;
}
#section01 .carousel-control-prev {
  position: absolute;
  height: 0;
  left: 10px;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#section01 .carousel-control-prev-icon,
#section01 .carousel-control-next-icon {
  display: none;
}
#section01 .carousel-control-next {
  position: absolute;
  height: 0;
  right: 10px;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#section01::after {
  content: "";
  width: 80%;
  height: 500px;
  background: gray;
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section01:hover .carousel-control-prev {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  background-color: orange;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 55%;
  opacity: 1;
}
#section01:hover .carousel-control-prev-icon {
  display: block;
}
#section01:hover .carousel-control-next {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background-color: orange;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 55%;
  opacity: 1;
}
#section01:hover .carousel-control-next-icon {
  display: block;
}

#section01:not(:hover) .carousel-control-prev {
  background-color: orange;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 55%;
  opacity: 0;
}
#section01:not(:hover) .carousel-control-next {
  background-color: orange;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 55%;
  opacity: 0;
}
#section01:not(:hover) .carousel-control-prev-icon,
#section01:not(:hover) .carousel-control-next-icon {
  display: block;
}

#section02 {
  height: 100vh;
}